.catalog__title {
    margin-top: 60px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 768px) {
        margin-top: 97px;
    }
    }
    
.catalog-1 {
     margin-top: 50px;
     display: flex;
     margin-left: 55px;
     &__item {
        margin-right: 20px;
        margin-bottom: 25px;
        min-width: 280px;
        @media (max-width: 768px) {
            min-width: 203px;
            position: relative;
            left: 229px;
        }
        
    }
     &__link {
        position: relative;
        left: 70px;
        top: -190px;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        max-width: 129px;
        min-height: 64px;
        @media (max-width: 768px) {
            position: relative;
            left: 37px;
            top: -152px;
        }
    
    }
    &__link:hover {
        text-decoration: underline;
    }
    }
    
.catalog-2 {
     display: flex;
     margin-left: 280px;
     margin-top: -70px;
     &__item {
        margin-right: 20px;
        margin-bottom: 25px;
        min-width: 280px;
        @media (max-width: 768px) {
            min-width: 203px;
        }
    }
    &__link {
        position: relative;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        max-width: 129px;
        min-height: 64px;
        top: -183px;
        left: 70px;
        @media (max-width: 768px) {
            position: relative;
            left: 21px;
            top: -152px;
        }
        
    }
    &__link:hover {
        text-decoration: underline;
    }
    }
    
    
    .home {
        font-family: 'Crimson Text';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 50px;
    
    }
    
    // .arrow {
    //     position: relative;
    //     left: 60px;
    //     bottom: 70px;
    
    // }
    
    .catalog-transparent {
        position: relative;
        left: 85px;
        bottom: 88px;
        font-family: 'Crimson Text';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        opacity: 0.5;
    }
    
    .description__title {
        margin-top: -40px;
        margin-bottom: 25px;
        margin-left: 280px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        @media (max-width: 768px) {
            white-space: nowrap;
        }
    }
    
    .description {
        margin-left: 280px; 
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 680px;
        margin-bottom: 55px;
        &__item {
            margin-bottom: 15px;
        }
    }
      
    .catalog__arrow {
        position: absolute;
        top: 224px;
        left: 334px;
    
    }
    
    .catalog-list {
        display: flex;
        margin-top: 15px;
        gap: 87px;
        font-family: Crimson Text;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }