.banner {
    background-image: url(./img/monster.png);
    background-repeat: no-repeat;
    background-color:  #EEE4DB;
    margin-top: 130px;
    width: 1180px;
    height: 372px;
    @media (max-width: 768px) {
        max-width: 900px;
        margin-left: 70px;
      }
    
    &__button {
        margin-left: 31px;
        width: 31px;
        height: 3px;
        background-color: #D6CAC2;
        transition: 0.4s;

    }
    &__button:hover {
        background-color: rgba(30, 6, 6, 0.6) ;
        cursor: pointer;
    } 
    &__title {
        font-weight: 700;
        font-size: 40px;
        margin-left: 133px;
        margin-top: 37px;
        width: 307px;
    }
    &__text {
        margin-top: -100px;
    }
    &__monster {
        position: absolute;
        top: 143px;
        left: 615px;
        @media (max-width: 768px) {
            width :385px;
            height: 286px;
            top: 300px;
            left: 500px;
        }
    }
    &__message {
        margin-left: 130px;
    }
    &__shipping {
        font-family: 'Open Sans' ;
        background-color: #C29974;
        margin-top: 90px;
        width: 1180px;
        height: 39px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        @media (max-width: 768px) {
            max-width: 900px;
            margin-top: 50px;
          }
    }
    &__shipping-text {
        padding: 10px;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
    }
    &__design {
        font-family: 'Crimson Text';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        margin-left: 5px;
        margin-top: -10px;
    }
    &__button-explore {
        width: 161px;
        height: 40px;
        margin-top: 20px;
        margin-left: 5px;
    }
    &__number {
        padding-left: 28px;
        padding-top: 27px;
        margin-bottom: 10px;
    }

} 

.products {
    display: flex;
    gap: 23px;

    &__title {
        margin-top: 130px;
        margin-bottom: 30px;
        font-size: 38px;
        text-transform: uppercase;
    }
    &__item {
        position: relative;
        max-width: 281px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 250px;
    
    }
    &__text {
        text-align: center;
        display: flex;
        position: absolute;
        justify-content: center;
        font-family: 'Montserrat';
        font-size: 26px;
        font-weight: 700;
        max-width: 110px;
        color: #FFFFFF;
    }
    &__text:hover {
        text-decoration-line: underline;
    
    }
}


.delivery {
    display: flex;
    &__item {
        margin-bottom: 20px;
        font-family: Crimson Text;
        font-size: 26px;
        font-style: italic;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 768px) {
            margin-left: 200px;
        }
       }
    &__button {
        font-weight: 700;
        font-family: 'Crimson Text';
        background: rgba(112, 187, 220, 0.2);
        font-size: 26px;
        font-style: italic;
        padding: 11px 180px 11px 60px;
        margin-left: -60px;
    }
    &__title {
        font-size: 38px;
        margin-top: 39px;
        margin-left: 120px;
        font-size: 38px;
        @media (max-width: 768px) {
            position: relative;
            top: -20px;
            left: 180px;
        }
    }
    &__elements {
        margin-top: 100px;
        margin-left: -200px;
        max-width: 480px;
    }
    &__description {
        margin-top: 178px;
        margin-left: -70px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
        @media (max-width: 768px) {
            min-width: 314px;
            margin-left: -125px;
        }
      }
    &__description-1 {
        margin-bottom: 28px;
    }
    &__description-2 {
        font-family: 'Open Sans';
        size: 16px;
        margin-bottom: 30px;
    }
    &__picture {
        min-width: 480px;
        @media (max-width: 768px) {
            min-width: 258px;
            margin-left: -150px;
            position: relative;
            left: 250px;
        }

    }

}


.learn-more__button {
    width: 149px;
    height: 40px;
    background-color: black;
    margin-left: 5px;
}

.logos {
    display: flex;
    gap: 127px;
    position: relative;
    top: 50px;
    @media (max-width: 768px) {
        position: relative;
        left: 100px;
        top: 40px;
    }
    &__picture {
        @media (max-width: 768px) {
            min-width: 115px;
            min-height: 30px;
        }
    }
}

.about {
    display: flex;
    margin-top: 90px;
    gap: 60px;
    padding-bottom: 160px;
    @media (max-width: 768px) {
        min-width: 314px;
        margin-left: 60px;
    }
    &__design-life-title {
        font-size: 38px;
        text-transform: uppercase;
        position: relative;
        bottom: 50px;
        left: 28px;
        @media (max-width: 768px) {
            font-size: 30px;
            white-space: nowrap;
            position: relative;
            top: -40px;
        }
    }
    &__design-life-item {
        margin-left: 30px;
        margin-top: -31px;
        @media (max-width: 768px) {
           
        }
    }
    &__design-life-about {
        position: relative;
        font-style: italic;
        bottom: 30px;
        font-family: Crimson Text;
        font-size: 26px;
        font-weight: 400;
        @media (max-width: 768px) {
            margin-top: 1px;
        }

    }
    &___design-life-text {
        font-size: 16px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        max-width: 483px;
        @media (max-width: 768px) {
            max-width: 279.3px;
        }
    }
    &__design-life {
        width: 543px;
        height: 228px;
        background: #E1F0F7;
        margin-top: 24px;
        @media (max-width: 768px) {
            min-width: 314px;
            min-height: 302px;
        }
    }
    &__design-button {
        width: 123px;
        height: 40px;
        margin-top: 0px;
        @media (max-width: 768px) {
           max-width: 128px;
        }
    }
}


.map {
    width: 543px;
    height: 209px;
    background: #E1F0F7;
    margin-top: 22px;
    @media (max-width: 768px) {
        margin-left: 200px;
        width: 543px;
        height: 280px;
    }
    &__title {
        font-size: 38px;
        text-transform: uppercase;
        position: relative;
        bottom: 50px;
        left: 30px;
    }
    &__text {
        margin-bottom: 30px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        max-width: 483px;
        margin-left: 28px;
        margin-top: -50px;
    }
    &__adress {
        width:483px;
        height: 196px;
        position: relative;
        left: 30px;
        @media (max-width: 768px) {
            width: 284px;
            height: 151px;
        }
    }
}


button {
    border: none
}


.buttons {
    display: flex;
    margin-top: 31px;
    margin-bottom: 90px;
    gap: 6px;

    &__L {
        background: none;
        transition: 0.4s;
        min-width: 36px;
        
    }
    &__L:active {
        background: none;
    }
    &__L:hover {
        background: none;
    }
    &__R {
        background: none;
        transition: 0.4s;
        min-width: 36px;
    }
    &__R:active {
        background: none;
    }
    &__R:hover {
        background: none;
    }
    &__button__title {
        padding-left: 14px;
        max-width: 580px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
     }
}


