<footer class="footer">
  <div class="container">
      <div class="basement">
          <section>
              <p class=" footer__title" >Navigation</p>
              <ul>
                  <li class="footer-item"><a class="footer-link" href="#">About Us</a></li>
                  <li class="footer-item"><a class="footer-link" href="#">Blog</a></li>
                  <li class="footer-item"><a class="footer-link" href="#">Design Services</a></li>
                  <li class="footer-item"><a class="footer-link" href="#">Featured On</a></li>
                  <li class="footer-item"><a class="footer-link" href="#">2018 Holiday Catalog</a></li>
                  <li class="footer-item"><a class="footer-link" href="#">Shop By Designer</a></li>
              </ul>
      </section>
      <section>
          <p class=" footer__title">Customer Information</p>
          <ul>
              <li class="footer-item"><a class="footer-link" href="#">Contact Us</a></li>
              <li class="footer-item"><a class="footer-link" href="#">Sale Exclusions</a></li>
              <li class="footer-item"><a class="footer-link" href="#">Shipping & Returns</a></li>
              <li class="footer-item"><a class="footer-link" href="#">Terms & Conditions</a></li>
              <li class="footer-item"><a class="footer-link" href="#">Privacy Policy</a></li>
              <li class="footer-item"><a class="footer-link" href="#">Search</a></li>
          </ul>
      </section>
      <section>
          <p class="footer__title">Connect</p>
          <form action="" class="footer__form">
          <input class="emailbutton" type="text" placeholder="Email">
          <button class="joinbutton" type="submit" >JOIN</button>
          </form>
          <a href="#">
              <img class="scnetwork facebook" src="../img/icon/facebook.svg" alt="facebook"></a>
          <a href="#">
              <img class="scnetwork twitter" src="../img/icon/twitter.svg" alt="twitter"></a>
          <a href="#">
              <img class="scnetwork pinterest" src="../img/icon/pinterest.svg" alt="pinterest"></a>
          <a href="#">
              <img class="scnetwork instagram" src="../img/icon/instagram.svg" alt="instagram"></a>
      </div>
      </section>
      <div>
          <section class="bottom">
              <fieldset class="rating">
                   <legend class="rating__caption">Company Rating</legend> 
                   <div class="rating__group">
                      <input class="rating_star" type="radio" name="health" value="1" checked aria-label="atrocious">
                      <input class="rating_star" type="radio" name="health" value="2" aria-label="bad">
                      <input class="rating_star" type="radio" name="health" value="3" aria-label="okay">
                      <input class="rating_star" type="radio" name="health" value="4" aria-label="good">
                      <input class="rating_star" type="radio" name="health" value="5" aria-label="great">
                  </div>
              </fieldset>
                  <p class="copyright bottom-item">Copyright © 2018 Dlk • Design Life Kids</p>
                  <p class="drline bottom-item">Web Design — Direct Line Development</p>
              </section>
          </div>
      </div>
  </footer>