<header class=" header container">
    <a href="#" class="header__link">
        <img class="header__logo" src="../img/icon/DLC.svg" alt="dlc">
    </a>
    <nav class="header__nav left">
        <ul class="header__list">
            <li class="header__list-item">
                <a href="blog.html">Blog</a></li>
            <li class="header__list-item">
                <a href="catalog.html">Catalog</a></li>
            <li class="header__list-item">
                <a href="#">About Us</a></li>
    </nav>
    <section class="header__contact">
            <li class="header__list-item">
                <a href="#"></a><img src="../img/icon/glass.svg" alt="glass"></li>
            <li class="header__list-item ">
                <a href="contact.html">Contact Us</a></li>
    </section>
         </ul>
</header>